.gradle/7.1.1/gc.properties
.gradle/7.1.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.1.1/dependencies-accessors/gc.properties
.gradle/7.1.1/executionHistory/executionHistory.bin
.gradle/7.1.1/executionHistory/executionHistory.lock
.gradle/7.1.1/fileChanges/last-build.bin
.gradle/7.1.1/fileHashes/fileHashes.bin
.gradle/7.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
build
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
